* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    background: #F4F4F9;
    font-family: 'Inter', sans-serif;
    
}

header {
    background: #FFFFFF;
    margin: 10px 10px 0px 10px;
    height: 100px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 8px 8px;
    position: top;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

.aushadam-logo {
    float: left;
    width: 50px;
    height: 50px;
    padding: 10px;
}

nav {
    float: right;   
}

nav ul {
    margin: 0;
    padding: 0px 300px 0px 0px;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 50px;
    padding-top: 25px;
    font-weight: 500;
    line-height: 17px;
    position: relative;
}

nav a {
    text-decoration: none;
    color: #000000;
    text-transform: uppercase;
    font-size: 14px;
}

nav a:hover {
    color: #05477c;
}

nav a::before {
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    background-color: #444;

    position: absolute;
    top: 0;
    width: 0%;

    transition: all ease-in-out 300ms;
}

nav a:hover::before {
    width: 100%;
}

/*  New Patient Details */
.container {
    width: 80%;
    height: 500px;
    background: #C3E7FE;
    margin: 20px 150px 50px 150px;
    padding: 15px 30px;
    border-radius: 16px;
}

h2 {
    margin: 50px 900px 20px 150px;
    
}
/*
.container .title {
    font-size: 24px;
    font-weight: 500;
}
*/
.container form .user-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}

form .user-details .input-box {
    margin-bottom: 10px;
    width: calc(100% / 2 - 20px); 
}

.user-details .input-box .details {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}
.user-details .input-box input {
    height: 45px;
    width: 80%;
    outline: none;
    border-radius: 4px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 14px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid {
    border-color: #000000;
}

form .gender-details .gender-title {
    font-size:20px;
    font-weight: 500;
}
form .gender-details .category {
    display: flex;
    width: 80%;
    margin: 14px 0;
    justify-content: space-between;
}
.gender-details .category label {
    display: flex;
    align-items: center;
}
.gender-details .category .dot {
    height: 18px;
    width: 18px;
    background: #d9d9d9;
    border-radius: 50%;
    margin-right: 10px;
    border: 5px solid transparent;
    transition: all 0.3s ease;
}

#dot-1:checked ~ .category label .one,
#dot-2:checked ~ .category label .two,
#dot-3:checked ~ .category label .three{
    border-color: #d9d9d9;
    background: #297373;
}
form input[type="radio"] {
    display: none;
}

form .button {
    height: 45px;
    /*margin: 45px 0;*/  
}
form .button input{
    float: right;
    width: 200px;
    height: 40px;
    outline: none;
    color: #FFFFFF;
    border: none;
    font-weight: 600;
    font-size: 16px;
    background-color: #297373;
    border-radius: 4px;
}